.footer{
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    bottom: 0;
    width: auto;
    height: 40px;
    margin-top: 20px;
}

#black{
    opacity: 0;
}