body{
    background-color : #222222;
    margin-left: 5%;
    margin-right: 5%;
}

#column{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#buttonsForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#body{
    background-color: #333333;
    color: white;
    padding: 100px;
    text-align: center; 
    margin: 10px;
}
.form{
    margin-bottom : 100px;
    margin-left : 15px;
    margin-right : 15px;
    padding : 20px;
}

.placeholder{
    background-color: #dddddd;
    margin-bottom : 100px;
    margin-left : 15px;
    margin-right : 15px;
    padding : 20px;
    border-radius : 20px;
    box-shadow: 5px 5px 12px 0px grey;
}

.button{
    background-color: #E40C14;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    width: auto;
    height: auto;
    text-align: center;
    margin: 5px; 
    box-shadow: 5px 5px 12px 0px darkred;
}
.button:hover{
    background-color: orange;
    color: white;
    cursor: pointer;
}

.btn-notvalid{
    background-color: #7d7d7d;
}

.texte{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
table{
    padding: 100px;
}

td{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

tr:hover{
    background-color: #E40C14;
    color: white;
    cursor: pointer;
}

#delete{
    background-color: grey;

    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    width: auto;
    height: auto;
    text-align: center;
    margin: 5px; 
}


#delete:hover{
    background-color: #E40C14;
    color: white;
    cursor: pointer;
}   

h1{
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 10px;
}

.colorTexte{
    color:red;
}